
  .index {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
  }
  .body {
    background-image: url('./assets/virion.png');
    background-size: 100vh;
    background-repeat: repeat;
  }
  .footer {
    background-image: url('./assets/footer.png');
    height: 65px;
    background-repeat: no-repeat;
    margin-left:30%;
    padding-bottom: 20px;
    margin-top: -90px;
  }


/* 
@media (min-width: 767px) {
  .index {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }

  .body {
    background-size: 100%;
    background-repeat: repeat;
  }

  .footer {
  width: 50vh;
  margin: 0 auto;
  padding-bottom: 20px;
  margin-top: 90px;
  }
} */